body {
  font-family: 'Open Sans Condensed', sans-serif;
  padding: 20px 60px;
}

a,
div.headerLink {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

a:hover,
div.headerLink:hover {
  color: rgba(0, 0, 0, 0.87);
}

/* set all elements to border-box (removes default padding provided) */
* {
  box-sizing: border-box;
}
